@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 11, 11, 11;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(245, 246, 247);
}

/* Globale Stile für die Scrollleiste */
::-webkit-scrollbar {
  display: none; /* Verstecke die Scrollleiste für Chrome, Safari und Opera */
}

/* Optionale Stile für Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
